  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
body {
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Logo and Hearder*/
.logo {

    font-size: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
.pic {
    height: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    top: 50%;
    left: 50%;
}


input {
    padding: 8px;
    margin-bottom: 15px;
}

.username {
    padding: 20px;
}

.hidden {
    display: none;
}



.container {
    width: 370px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    display: none;
}

.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    display: flex;
    margin-top: 10px;
}

button {
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: #5ca5ef;
    color: #fff;
    border-radius: 5px;
}
.result{
    height: 300px;
}

#imageDiv {
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
}