<<<<<<< HEAD
 body {
     font-family: Arial, sans-serif;
     text-align: center;
     align-items: center;
     justify-content: center;
 }

 /* Logo and Hearder*/
 .logo {
     font-family: "Times New Roman", Georgia, Garamond, sans-serif;
     font-size: 30px;
 }
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}
>>>>>>> 491118151c18852997cda9db254725f8a467b6b5

/* Logo and Hearder*/
.logo {
    font-family: "Times New Roman", Georgia, Garamond, sans-serif;
    font-size: 30px;
}

.pic {
    height: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
 form {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
=======
.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    top: 50%;
    left: 50%;
}
>>>>>>> 491118151c18852997cda9db254725f8a467b6b5

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

.username {
    padding: 20px;
}

.hidden {
    display: none;
}



.container {
    width: 370px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    display: none;
}

.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    display: flex;
}
button {

    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: #5ca5ef;
    color: #fff;
    border-radius: 5px;
}

<<<<<<< HEAD
 }

 button {

     padding: 8px;
     font-size: 20px;
     cursor: pointer;
     background-color: #5ca5ef;
     color: #fff;
     border-radius: 5px;
 }

 #imageDiv {
     height: 20px;
     width: 20px;
     display: flex;
 }
=======
#imageDiv {
    height: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
>>>>>>> 491118151c18852997cda9db254725f8a467b6b5
